/* General Styling */

/* Layout */

/* Mobile */

@media only screen and (max-width: 600px) {
    .title {
        position: relative;
        width: 100%;
        height: 120px;
    }
    .leftPart {
        position: relative;
        width: 100%;
        height: auto;
    }
    .rightPart {
        position: relative;
        width: 100%;
        height: auto;
    }
}

/* Desktop */

@media only screen and (min-width: 601px) {
    .title {
        position: absolute;
        width: 100%;
        height: 150px;
    }
    .leftPart {
        position: absolute;
        width: 45%;
        height: 100%;
        left: 2%;
        top: 150px;
    }
    .rightPart {
        position: absolute;
        width: 47%;
        height: 100%;
        right: 2%;
        top: 150px;
    }
}

/* Helpers & Aligning */

h4 {
    margin-left: 10px;
}

h5 {
    margin-left: 15px;
}

.inline {
    display: inline-block;
}

.notVisible {
    display: none;
}

dl {
    width: 100%;
    overflow: hidden;
    background: #eee;
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    width: 40%;
    /* adjust the width; make sure the total of both is 100% */
    background: #eee;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    width: 60%;
    /* adjust the width; make sure the total of both is 100% */
    background: #eee;
    padding: 0;
    margin: 0;
}

/* --------------- */

/* Title */

.title img {
    position: relative;
    width: auto;
    height: 150px;
    top: 0;
    left: 0;
    background: #555;
}

/* --------------- */

/* Controlflow */

.startButton {
    width: 100px;
    height: 100px;
    float: left;
}

.stopButton {
    width: 100px;
    height: 100px;
    float: left;
}

.phasesSelection {
    margin-top: 10px;
    float: left;
}

/* ------------ */

/* Heartbeat and State Handling */

.stateButton {
    border-width: medium;
    margin-right: 10px;
}

.heartBeats {
    margin: 0;
}

.componentDiv {
    width: 16.6%;
    height: 40px;
    border: 2px black solid;
    background-color: lightgrey;
    margin-top: 2%;
    margin-right: 1%;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    font-size: 1.3vh;
    overflow: none;
}

.starting {
    border-color: #00008b;
    background-color: #7373ff;
}

.running {
    border-color: green;
    background-color: lightgreen;
}

.error {
    border-color: red;
    background-color: lightcoral;
}

.finished {
    border-color: black;
    background-color: lightgrey;
}

.disabled {
    border-color: grey;
    background-color: white;
    color: grey;
}

.selected {
    -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.61);
}

/* ---------------------------- */